<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <img src="/assets/images/logo.png">
      <span class="title">ngFluxify demo</span>
    </div>
    <div class="divider"></div>
    <div class="header-nav">
      <a class="nav-link" href="https://ng-fluxify.io">
        <span class="nav-text">Documentation</span>
      </a>
      <a class="nav-link" href="https://github.com/AngulORM/ngFluxify">
        <span class="nav-text">Github</span>
      </a>
    </div>
    <div class="settings">
      <iframe class="github-btn" frameborder="0" height="20px" scrolling="0"
              src="https://ghbtns.com/github-btn.html?user=AngulORM&repo=ngFluxify&type=star&count=true"
              width="170px"></iframe>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li *ngFor="let navLink of navLinks" class="nav-item">
        <a [routerLink]="navLink.routerLink" class="nav-link" routerLinkActive="active">{{ navLink.title }}</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
