<div class="content-area">
  <div class="clr-row">
    <div class="clr-col-6">
    </div>
    <div class="clr-col-6">
      <clr-stack-view>
        <clr-stack-header>Managed entities</clr-stack-header>

        <clr-stack-block *ngFor="let entity of ngFluxify.entitites | orderBy:'name'">
          <clr-stack-label>{{ entity.name }}</clr-stack-label>
          <clr-stack-content>
            <div class="progress labeled">
              <progress [max]="50"
                        [value]="ngFluxify.ngRedux.getState()[entity.name].get('entities').size"></progress>
              <span>{{ ngFluxify.ngRedux.getState()[entity.name].get('entities').size }}</span>
            </div>
          </clr-stack-content>

          <clr-stack-block>
            <clr-stack-label>State</clr-stack-label>
            <clr-stack-content>{{ ngFluxify.ngRedux.getState()[entity.name].get('state') }}</clr-stack-content>
          </clr-stack-block>

          <clr-stack-block>
            <clr-stack-label>Complete</clr-stack-label>
            <clr-stack-content>{{ ngFluxify.ngRedux.getState()[entity.name].get('isComplete') }}</clr-stack-content>
          </clr-stack-block>

          <clr-stack-block>
            <clr-stack-label>Entities</clr-stack-label>
            <clr-stack-content>{{ ngFluxify.ngRedux.getState()[entity.name].get('entities').size }}</clr-stack-content>
            <clr-stack-block *ngFor="let element of ngFluxify.ngRedux.getState()[entity.name].get('entities')">
              <clr-stack-label></clr-stack-label>
              <clr-stack-content>{{ element[1].sanitized | json }}</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>

          <clr-stack-block>
            <clr-stack-label>Transactions</clr-stack-label>
            <clr-stack-content>{{ ngFluxify.ngRedux.getState()[entity.name].get('transactions').size }}</clr-stack-content>
            <clr-stack-block *ngFor="let element of ngFluxify.ngRedux.getState()[entity.name].get('transactions')">
              <clr-stack-label></clr-stack-label>
              <clr-stack-content>{{ element[1] | json }}</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>
        </clr-stack-block>

        <clr-stack-block *ngIf="!ngFluxify.entitites.length">
          <clr-stack-label></clr-stack-label>
          <clr-stack-content>There is currently no entity</clr-stack-content>
        </clr-stack-block>
      </clr-stack-view>
    </div>
  </div>
</div>
